# Dependency directories
/node_modules

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist

# Logs
/logs

# Test coverage
/coverage

# Editor-specific files
.idea
.vscode

# Miscellaneous
.DS_Store
